
:root {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  html {
      font-size: 200%;
      font-weight: 300;
      line-height: 1.3;
    }

.book-card{
    text-align: center;
    justify-content: center;
    border: 2px black solid;
    height: 10rem;
    width: 10rem;
    margin: auto;

   
}

.top{
    font-size: 40px;
    font-weight: bold;
    background-color: turquoise;
}

button{
    color: rgb(249, 249, 249);
    background-color: rgb(179, 121, 70);
    border: 5px black solid;
    border-radius: 5px;
    font-weight: bold;
    height: 100px;
    width: 150px;
    font-size: 1rem;
}